body{
    height: 100%;
    margin: 0;

}
.header{
    
}
.container{
    min-height: 100%;
}
.page-footer{
    width: 100%;
    /* position: fixed; */
    bottom: 0;
    /* height: 100px; */
}
.text{
    background-color:gainsboro;
    padding: 15px;
}